body{
	margin:0;
	padding:0;
    background:#ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
#about{
	float:right;
}
li.menu {
    float: left;
}
a.about:hover{
	
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
	margin:0;
}

li.menu a, #about {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
	margin:0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#s3 {
    background-color: #111;
}

span.steps{
	display:block;
	float:right;
}

ul.graph-container{
    margin-left:auto;
    margin-right:auto;
	text-align: center;
}

h1 { 
	padding-left: 10%;
}

h3 { 
	padding-left: 10%;
}

/* */

.button {
    background-color:blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.intro{
    left:50%;
    width:100%;
    text-align:center;
}

div.content{
	margin:auto;
	width: 1200px;
    height:100%;
}

div.results-content{
    position:relative;
    text-align:center;
    margin:auto;
    height:700px;
}

button.download{
    float:left;
    background-color:blue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

div.graph-heading{
    text-align:center;
    margin:auto;
}

div.results-graph{
    float:right;
    display:block;
    margin:auto;
    width:90%;
    margin:10px auto;
}

div.graph-picture{
    display:block;
    margin:auto;
    height:90%;
    vertical-align:top;
}

div.results-sharing{
    display:block;
    margin:auto;
    text-align:center;
    width:100%;
}

button.sharing{
    float:right;
    background-color:blue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/*#download {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/

div.results-stats{
    float:left;
    position:absolute;
    display:block;
    height:10%;
    width:10%;
    top:280px;
    margin:10px auto;
}

img {
    display:block;
    margin:auto;
}

table, th, td{
    text-align:left;
    display:block;
    margin:auto;
    border-spacing:0px;
}

td{
    padding: 15px;
    border:1px solid blue;
}


