<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GSS Survey Data</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/about.css')}}">	
  </head>

  <body>
  
  <nav>
	<ul class = "top">
		<li class = "menu" ><a class = "homepage" href = "../">GSS Dataset</a></li>
		<li id = "s1" class = "menu" ><a class = "step" href = "../" > Step 1</a></li>
		<li id = "about" class = "menu" ><a class = "homepage" href = "">About </a></li>
		
	</ul>
  </nav>
  
  <div class = "content">
	    
	  <div class = "vars">
		<div class = "var-heading">
			<div class = "step-instructions"> <h2>About</h2>	
			</div>
		</div>
		<div class = "var-data">
			<h3> What is this data? </h3>
			<p> The data on this site is from the General Social Survey.<br>
				The original data is publicly available <a href = "http://sda.berkeley.edu/sdaweb/analysis/?dataset=gss16">on this website</a>.
			</p>
			<p> Every two years, the GSS asks a representative population of the United States how they feel about many different issues.
			Two example issues that are surveyed are abortion and the death penalty, but as you can see from our menu, they ask many different questions.
			Our data is a subset of the GSS data, with approximately 200 variables represented.
			</p>
			<h3> What can I do with this website?</h3>
			<p> You can see how people who answer one question one way answer other questions in other ways.
			For example, you could query the variables PRES12 and AGE to see how people of different ages 
			voted for either Obama or Romney, and see how much age played a role in that decision. <strong>Feel free to experiment with many different variables to see what interesting relationships you find.</strong>
			</p>
			<h3> Who made this website? </h3>
			<p> Nathan Mannes and Will Schwarzer</p>
		</div>
				
				


	</div>

  </div>
  </body>
</html>