<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<title>US Birth Data</title>
</head>
<header>
	<img id="babyface" src="static/baby_face.png">
  	<h1 class="title">Birthday Trends</h1>
  	<div id="instructions">A tool to view trends in birthday popularity over periods of time.</div>
</header>
<body>
	<div class="search">
  		<input class="searchBar" type="text" value="Wednesday">
	</div>
	<div id="chartEx"></div>
</body>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = new google.visualization.arrayToDataTable([
          	['Weekday', 'Births'],
          	['Sunday', 23000],
			['Monday', 19000],
			['Tuesday', 21000],
			['Wednesday', 21500],
			['Thursday', 19500],
			['Friday', 23000],
			['Saturday', 24000]
        ]);
		
		//data.setProperty(4, 0, 'style', 'font-weight: bold;');
		  
        var options = {'title': 'Sample Query',
					   'height': 400,
					   'width': 800
                       };

        var chart = new google.visualization.LineChart(document.getElementById('chartEx'));
        chart.draw(data, options);
	}
</script>
</html>
